
html, body {
	background: #111;
	margin: 0;
	height: 100%; /* Altura completa */
	display: flex; /* Flex para centrar contenido */
	justify-content: center; /* Centrar horizontalmente */
	align-items: center; /* Centrar verticalmente */
}

.container {
	width: 300px;
	height: 300px;
	position: relative;
	display: flex; /* Flex para centrar la animación */
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.sp {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: rgba(0, 0, 0, 0);
	border-radius: 50%;
}

.sp1 {
	width: 150px;
	height: 150px;
	border-top: 4px solid #F44336;
	animation: rotate 1s linear infinite;
}

.sp2 {
	width: 130px;
	height: 130px;
	border-top: 4px solid #03A9F4;
	animation: rotate 1.428571s linear infinite;
}

.sp3 {
	width: 110px;
	height: 110px;
	border-top: 4px solid #CDDC39;
	animation: rotate 0.7s linear infinite;
}

.sp4 {
	width: 90px;
	height: 90px;
	border-top: 4px solid #795548;
	animation: rotate 1.8s linear infinite;
}

.sp5 {
	width: 70px;
	height: 70px;
	border-top: 4px solid #607D8B;
	animation: rotate 1.2s linear infinite;
}

.sp6 {
	width: 50px;
	height: 50px;
	border-top: 4px solid #FAFAFA;
	animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
	to {
		transform: rotateZ(360deg);
	}
}