@import url('https://fonts.googleapis.com/css?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap');
:root {
  --header-height: 97px;
}

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  font-family: 'Alice', serif;
  width: 80%;
  max-width: 1170px;
  margin: 0;
}

/* Nav */
header {
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 0 0 10px #00000036;
  z-index: 9;
  background: #111111ef;
}

header.fixed {
  position: fixed;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  margin-left: 10px; /* Ajuste de margen */
  font-weight: 900;
  color: #ffffff;
}

.logo a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px; /* Ajuste del tamaño de fuente para computadoras */
}

.nav-wrap ul {
  padding: 0;
  display: flex;
  list-style: none;
}

.nav-wrap ul.top_nav {
  flex-direction: column;
  display: none;
}

.nav-wrap ul li {
  position: relative;
}

.nav-wrap ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 5px;
  position: relative;
  display: inline-block;
}

.nav-wrap ul.sub-nav {
  display: none;
}

@media screen and (min-width: 919px) {
  .nav-wrap ul.top_nav {
    display: flex;
    flex-direction: row;
  }

  .nav-wrap ul li {
    margin-right: 30px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000aa;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.837);
  z-index: -1;
}

body {
  background-image: url(../cosinas/fondo.png);
  background-size: cover;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  background-color: #000000;
}

.mrrobot {
  user-select: none;
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  width: 100%;
  position: sticky;
  margin-left: 2%;
}

.mrrobot b {
  font-family: 'Bungee Shade', cursive;
  color: red;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.mrrobot b span {
  animation: blink linear infinite 2s;
}

@keyframes blink {
  75% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333333;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  90% {
    color: #333333;
    text-shadow: none;
  }
  100% {
    color: inherit;
    text-shadow: inherit;
  }
}

/* Mejora del estilo para dispositivos móviles */
@media only screen and (max-width: 767px) {
  body {
    background-size: auto;
  }

  header {
    position: fixed;
    background: #111111ef;
  }

  .nav-wrap ul {
    display: none;
  }

  .top_nav {
    display: none;
    flex-direction: column;
  }

  .mrrobot {
    font-size: 60px;
    margin-left: 2%;
  }
}
